.bg-card-responsavel {
    background-color: #423861;
    color: white;
}

.bg-responsavel {
    background-color: #423861;
    color: white;
}

.bg-responsavel:hover {
    background-color: #382e50;
    color: white;
}

.bg-card-projeto {
    background-color: #8B3A64;
    color: white;
}

.bg-projeto {
    background-color: #8B3A64;
    color: white;
}

.bg-projeto:hover {
    background-color: #6c2e4f;
    color: white;
}

.bg-card-tarefa {
    background-color: #8B603A;
    color: white;
}

.bg-tarefa {
    background-color: #8B603A;
    color: white;
}

.bg-tarefa:hover {
    background-color: #684c2c;
    color: white;
}

.col-md-4 {
    padding-bottom: 10px;
}